[2017-01-27 02:42] davewallace opened #1 "How to associate generated mapping output during .process()?"
Hi,

They're separate functions currently, and I'm not sure how to generate a mapping that is relevant to what I'm converting, and then use said mapping to convert.

I don't need to minify selectors, simply rename them (actually just prefixing them, e;g .btn -> .my__btn).

I'm working in a Gulpfile and I have your tasks individually running, but haven't pulled them together yet to do a full conver

[2017-01-27 03:16] davewallace opened #2 "Possible to perform processing on LESS files?"
I was hoping to test this library out on Bootstrap 3, to see if renaming their selectors with a prefix would be a workable solution. My other issue is a blocker to test on compiled CSS output and so I ran the default processCss() function on BS3's latest .less structure and generator regex errors:

[code]

So next I tried the default processCss() on BS3's unminified dist CSS source (`bootstrap.css

[2017-01-27 06:33] JPeer264 commented on #1
Well, currently there is no option to just prefix all selectors. But this would be a cool feature, I can work on it.

If you are using it within a Gulpfile, then you can give [gulp-rcs](https://github.com/JPeer264/gulp-rcs) a shot. This is the gulp plugin for `rename-css-selectors`.

[2017-01-27 06:35] JPeer264 commented on #2
Can you provide me the sourcecode?

Again, maybe you try `gulp-rcs` 👍

[2017-01-27 06:56] JPeer264 commented on #2
I just tried it with `bootstrap.css`. There is indeed a bug - I will solve that as soon I have time.

[2017-01-27 18:27] JPeer264 commented on #2
Your problem should now be fixed with `v0.1.0`. I will also update `gulp-rcs` soon.

You might get other errors if you want to rename `.less` files. In those files are mixins, functions and other stuff, so it is pretty hard to filter all those `.less` features. It is better to rename already processed `.less` files to prevent any errors. So if you want to rename selectors in `.less` you will still

[2017-01-27 18:27] #2 closed

[2017-01-27 18:34] JPeer264 commented on #1
With `v0.1.0` you can now use the options to handle that:

[code]

Other options can be found in the [Readme](https://github.com/JPeer264/node-rename-css-selectors#processcss)

[2017-01-31 00:30] davewallace commented on #2
Nice one, thanks @JPeer264 :)

[2017-01-31 01:05] davewallace commented on #1
@JPeer264 funnily enough I didn't know gulp-rcs was available and so i'd integrated this repo into my gulpfile already!

Looking at the results of the newly added options, it's an improvement, thank you. Looks like a few discrepancies (I only processed non-minified, compiled Bootstrap latest CSS).

I used a prefix `ui__` and the results are as follows: https://gist.github.com/davewallace/2955dd243

[2017-01-31 01:05] davewallace commented on #1
Oh, also I don't really have any meaningful code to share, I'm working on a simple reduced case involving pretty much just your repo & the Bootstrap dist files.

[2017-01-31 07:45] JPeer264 commented on #1
True! I marked that as a bug and will solve that. So in the last sentence you said you want to touch `table col[class*="col-"]` - do you mean you want to touch it that it look like `table col[class*="ui__col-"]` ?

Thanks, this means a lot to me 😊

Never mind, as soon as I can reproduce all issues it is ok.

[2017-01-31 08:15] davewallace commented on #1
Thanks for being so proactive @JPeer264 - you're nearly there wrt the table selector.  Only diff being `col` outside the square brackets should match, as well as the `col` referenced within the square brackets.

I can comb the output after your next sweep as you like, there will be match patterns based on a spec somewhere I reckon though.  After some searching I see there are Python scripts set up

[2017-01-31 08:21] JPeer264 commented on #1
Hm, you want to match `col` outside the brackets? But those aren't selectors, those are HTML attributes, is just the `.` missing? I can work on it too, this might be a bit tricky though 😅

Can you provide a gist or the link to this script? I think there are some patterns I can adapt.

[2017-01-31 08:22] davewallace commented on #1
As an aside, and possibly a feature request, when I first saw your lib I actually thought the map generation would be readable in subsequent operations, in that I could generate a mapping, possibly manually tweak it, and then run a `processCss ()` off the result, even as part of another Gulp `pipe()` call.  It feels like you're not far off this actually.

[2017-01-31 08:23] davewallace commented on #1
Yep I can, just on a bus presently and in an opposite timezone but i can respond with details soon 😀

[2017-01-31 08:26] JPeer264 commented on #1
How do you mean that exactly?

Thanks 😀

[2017-01-31 08:52] JPeer264 commented on #1
@davewallace  Regarding to `table col[class*="col"]`. I think it is just useful for `[class^="col"]` and `[class$="col"]` if prefixing or suffixing is used. Because `[class*="col"]` can be everything: `acolname`, `color`, `somecol` ... So if this get prefixed like `[class*="pre-col"]`, it probably will brake something.

Use case:
All selectors are prefixed with `pre-`. So the attribute selector `c

[2017-01-31 20:37] davewallace commented on #1
That's a good point, yes best to leave that out, along with any other wildcard matches as you've identified, where it could change the selector's effects. The absolute only effects of this process of prefix/suffixing should be name modification - not selector alteration.

[2017-02-01 01:47] davewallace opened #3 "Allowing piping of generated CSS mapping into subsequent operations"
I'm not sure whether this feature would go into rcs gulp repo or here, because I'd use it in the context of having two methods available in this repo available.

I can think of two new ways in which I might want to combine both `processCss()` and `generateLibraryFile()`:

1. As part of a Gulp chain, I might want to firstly call `generateLibraryFile()` . The output of this function might be modifie

[2017-02-02 09:30] #1 closed

[2017-02-02 10:13] JPeer264 commented on #3
Ah, you mean this mapping function. Yes actually it could be in every repo - this feature would be good for all of 'em. The library file was actually introduced to debug selectors if they already got minified for production.

Great idea! I originally had [this idea](https://github.com/JPeer264/node-rename-css-selectors#include-renamed-classes-from-other-project) too, but totally forgot this featur

[2017-02-02 20:41] davewallace commented on #3
An addition in `.rcsrc` would be a good idea - do you mean that keys/values present in `.rcsrc` in the form of `mapping` (or alternative name, perhaps `override`) or `exclude` would take precedence over anything generated by an unmodified output from `.generateLibraryFile()`?

If the addition to `.rcsrc` is *not* an exceptions/overrides based approach, then I imagine the mapping could potentially

[2017-02-05 13:17] QuantumRevenger opened #4 "Usage Instructions - Not working."
When using the usage code it firstly highlights that the code is invalid, and attempting to fix it just does not work.

[code]

Nothing happens at all, it hangs for a while and eventually just exits with -1

The demo code / usage does not work at all and fails to include how to process html?

[2017-02-06 07:13] davewallace commented on #4
@QuantumRevenger do you have a sample of the CSS you're trying to process? FWIW I hadn't tried `overwrite: true` and I do have this function successfully producing output. Does it make a difference when you switch it to false, just for a test?

[2017-02-06 09:19] JPeer264 commented on #3
Yes, I would say so. But, `override`  (that is a good name) would be, as you said, to large.

Oh, true! I think I would drop the idea then to put the `override` into the `.rcsrc`. So after a bit thinking it might be a good idea to load an already generated library/mapping file with the function `.generateLibraryFile( 'path/to/file' )` to ensure to load already renamed selectors and add new trigger

[2017-02-06 09:25] JPeer264 commented on #4
@QuantumRevenger first off you might want to nest your functions, as they are async:

[code]

Secondly, I couldn't reproduce the error, it worked for me that way. Maybe you `console.log` the error inside, you might have no write rights?

I also just realized that it is pretty bad that it does not accept any Arrays as parameter, I will change that soon.

[2017-02-06 09:27] JPeer264 opened #5 "Accept Array as glob parameter"
Allow following:
[code]

[2017-02-06 10:48] #5 closed

[2017-02-06 11:32] JPeer264 commented on #4
@QuantumRevenger with `v0.2.0` you can write it like following:

[code]

[2017-02-06 20:27] davewallace commented on #3
Yep, `. generateMapping ` sounds like a sensible replacement :)

[2017-02-07 11:27] JPeer264 commented on #3
@davewallace I thought a lot about this function and came up with a slightly different solution. First you have to load the old mappings via `.loadMapping` and after everything is processed you can save the new generated file with `.generateMapping`.

Have a look at the [usage](https://github.com/JPeer264/node-rename-css-selectors#usage)

I hope it fits to your use case 🙃

[2017-02-07 11:27] #3 closed

[2017-02-10 12:13] QuantumRevenger commented on #4
It's now replacing files and renaming selectors in all files, but is breaking Javascript entirely.

It's replacing parts of function names, variables, base64 data, and more. Brutally rendering it unusable, like it's just applying a string replace without a care for integrity or validation?

[2017-02-10 18:22] JPeer264 commented on #4
@QuantumRevenger It is also replacing function names and variables? Ok that is not the way it should work like.

Can you provide a short snippet how it looks like after you processed the data? Btw, your files should not be minified/uglified - if your files are.

[2017-02-12 23:03] JPeer264 commented on #1
@davewallace  `v1.1.0` adds the functionality with attribute selectors.

Everything which matches to an attribute selector it will not rename the selector. It will still prefix and suffix the new selector.

With the option `ignoreAttributeSelector` it will not trigger any attribute selectors

[2017-02-14 21:54] JPeer264 opened #6 "Add before/after in readme"
CSS, JS and HTML before after examples in readme

[2017-02-15 07:58] #6 closed

[2017-03-06 07:49] JPeer264 commented on #4
Closed as user did not respond

[2017-03-06 07:49] #4 closed

[2017-05-24 01:25] klimashkin opened #7 "Keyframes support"
Now it doesn't touch `@keyframes` names, but would be great if it does

[2017-05-24 07:59] JPeer264 commented on #7
@klimashkin I moved it to https://github.com/JPeer264/node-rcs-core/issues/10

[2017-05-24 07:59] #7 closed

[2017-05-25 10:16] JPeer264 commented on #7
@klimashkin you can now reinstall `rename-css-selectors` (make sure your npm/yarn cache is empty) and you can now rename keyframes as following:

[code]

[2017-05-26 07:30] klimashkin opened #8 "Keyframes prefixes"
I tried to process minified `bootstrap.min.css` (could be a good source to add to test, btw) with `node-rename-css-selectors`, and noticed that prefixed `@keyframes` names are not transformed.
[code]

[2017-05-26 07:41] JPeer264 commented on #8
That's indeed a good hint, I will take a look at `bootstrap.min.css`

[2017-05-26 09:09] #8 closed

[2017-05-26 09:10] JPeer264 commented on #8
Fixed in v`1.2.3`

[2017-06-08 02:24] klimashkin opened #9 "TypeError: rcs.processJs is not a function"
There is no reexport in index.js

[2017-06-11 09:44] #9 closed

[2017-07-23 21:17] Sai-Teja opened #10 "Some problem with the regex"
So, I tried to run this on materialize.css and materialize.js which were part of my project. The problem was, It also changed

     ".2": "tny",
	".4": "tng",
	".36": "ze",
	".42": "trl",
	".53": "qq",
	".58": "trc",

in js and css files which lead to a lot of errors please fix this asap.

[2017-07-23 21:36] Sai-Teja commented on #10
I fixed this by changing

selectors in regex.java to

    selectors: /(#|\.)[^0-9\s:.{)[>+,\s][^\s:.{)[>+,\s]+/g, // matches all selectors beginning with . or # - e.g. .matching#alsomatch .matchmetoo

I have one more problem, there is css class new in one of the libraries Is there a way to ignore that?

[2017-07-24 04:50] JPeer264 commented on #10
Thanks for this issue. I don't know if I understand you correct. Is your issue that you do not want to change specific classes in your css file? The new regex seems to ignore those numbers.

I am currently in the middle of refactoring `rename-css-selectors`. So in the current version you have to install `npm i -S rcs-core` manually (this will change in v2). And type following **before** you proces

[2018-02-04 10:00] JPeer264 opened #11 "Glob exclude"
Exclude selectors with regex.

[code]

[2018-02-09 06:28] klimashkin opened #12 "Not completely renamed if className starts with name of another class"
HI @JPeer264!

Found issue with selectors renaming:

[code]
renamed to
[code]

We have two classes (`Grid_areaHighlight` and `Grid_sortIconsSorted`), that start with names of existing classes (`Grid_area`, `Grid_sortIcons`). And seems like renaming mistakenly replace part of second class with already renamed one

[2018-02-09 07:41] JPeer264 commented on #12
Hey, thanks for your issue.

Ah I see, this shouldn't happen. I will take a look at it tonight asap.

[2018-02-09 09:01] JPeer264 commented on #12
I was too curious and fixed that already in v`1.3.3`.
Feel free to reopen this issue if this bug still exists.

[2018-02-09 09:01] #12 closed

[2018-02-09 17:51] klimashkin commented on #12
Cool, thanks!
Seems like it's not publish in npm yet

[2018-02-09 21:51] klimashkin opened #14 "Hex color is broken"
After updating to `1.3.3` color in some classes has become broken after renaming:
[code]
Renamed into
[code]

[2018-02-09 21:51] klimashkin commented on #12
Problem fixed!
But I found regression with colors, filed #14

[2018-02-09 22:26] JPeer264 commented on #14
Urgh , sorry about that!

I already started to refactor the css replacing by using css AST, which will be more reliable. On sunday I got more time, so I can implement the rest of it.

[2018-02-09 22:27] klimashkin commented on #14
Sure, take your time!

[2018-02-11 21:51] #14 closed

[2018-02-11 21:54] JPeer264 commented on #14
Alright, the library is now using css AST. I hope the number of this kind of issues will go down now 👍

[2018-06-18 07:05] klimashkin opened #16 "Unexpected token ..."
Seems it fails on javascript files that use object rest/spread.
[code]

Espree can be updated to version 4, or to fix that in espree 3, option `experimentalObjectRestSpread: true` can be passed

[2018-06-18 07:11] klimashkin commented on #16
In general it would be great to have a way to pass options from `processJs` to espree directly (add some espreeOptions param), because sometimes we want to stop transpiling some ES20XX features without waiting for a whole ES20XX spec to be finalized, as browsers start support it

[2018-06-18 07:29] JPeer264 commented on #16
@klimashkin thanks for your issue. Oh yes passing the options to espree directly would be great indeed. I will work on that as soon as I have time 👍

[2018-06-18 07:40] klimashkin commented on #16
Probably as a fast fix you could release minor update of node-rcs-core that will require espree as `^4.0.0-rc.0 || ^4.0.0`.
Spec will not be changing and seems like they just wait it to be published to bump final 4.0.0

[2018-06-18 08:03] JPeer264 commented on #16
The problem is, I just checked, I am not using espree (it was accidentally in the dependencies). I use `recast` which is using `esprima` under the hood. I now have to think about the solution right now, as I can switch the parsers from `recast`. I hope I will find a general solution

[2018-06-18 08:13] klimashkin commented on #16
Oh, my bad, I was sure I saw espree in the source.
I think problem with esprima is that it's jquery project that is not really maintained anymore.
espree is better because it uses acorn, which is being developed pretty good.

[2018-06-18 08:14] JPeer264 commented on #16
Yap, I thought about the same. I think espree is the way to go.

[2018-06-18 13:09] #16 closed

[2018-06-18 13:21] JPeer264 commented on #16
With `v2.0.0` it should be fixed, and your options are now added. For that, please check out the [parserOptions](https://github.com/JPeer264/node-rename-css-selectors/tree/d0a64f2bc1e19faad6fe49275c2c2308de2661cf#processjs).

[2018-06-19 03:19] klimashkin commented on #16
Awesome, it works!

[2018-07-07 07:00] JPeer264 opened #17 "Rewrite docs"
Now it is documented as docblock and in the readme. It should be just in the readme. Or better like in [rcs-core](https://github.com/JPeer264/node-rcs-core) as own folder in `./docs`

[2018-08-21 17:50] Stephen-X opened #18 ""exclude" in .rcsrc doesn't work"
It's part of a series of issues I found, so I'm going to reuse the base test case and open separate issues for each of them 😄 I'm developing on Windows btw; not sure if these are all platform specific bugs.

## Issue Description:

Selectors put inside "exclude" of `.rcsrc` in project root doesn't get excluded.

## Steps to reproduce this issue:

1. Create a simple project with the following code:

[2018-08-21 17:56] Stephen-X opened #19 "`process()` doesn't work if `src` parameter only contains HTML"
It's part of a series of issues I found, so I'm going to reuse the base test case and open separate issues for each of them 😄 I'm developing on Windows btw; not sure if these are all platform specific bugs.

## Issue Description:

If you only send HTML file to the `process` function, then it'll only output a new CSS file.

## Steps to reproduce this issue:

1. Create a simple project with the foll

[2018-08-21 18:04] Stephen-X opened #20 "RCS replaces all words that are the same as the selectors"
It's part of a series of issues I found, so I'm going to reuse the base test case and open separate issues for each of them 😄 I'm developing on Windows btw; not sure if these are all platform specific bugs.

## Issue Description:

RCS replaces words that are the same as selectors in the wrong elements (e.g. `<meta>`, `<p>`).

## Steps to reproduce this issue:

1. Create a simple project with the f

[2018-08-21 19:02] Stephen-X opened #21 "RCS stops renaming selectors between two ' symbols"
It's part of a series of issues I found, so I'm going to reuse the base test case and open separate issues for each of them 😄 I'm developing on Windows btw; not sure if these are all platform specific bugs.

## Issue Description:

As the title said. This is probably due to inappropriate escaping.

## Steps to reproduce this issue:

1. Create a simple project with the following code:

`index.html`

[2018-08-23 21:05] grkblood13 opened #22 "support for pug templates"
Any chance this tool could get builtin support for pug templates?

https://pugjs.org/api/getting-started.html

[2018-08-25 08:18] JPeer264 commented on #22
Hey, thanks for you issue. This sounds like a great feature. I'll implement this soon :)

[2018-08-25 08:37] JPeer264 commented on #20
First of all the HTML problem is resolved by updating `rcs-core` (ref: https://github.com/JPeer264/node-rcs-core/pull/52 https://github.com/JPeer264/node-rcs-core/pull/56)

The JavaScript problem is following. I haven't found a good way of determining if a string is used for selectors or just as text. I came up with detecting non word characters in the text (in regex `\W`) and if some got found no

[2018-08-25 08:39] JPeer264 commented on #18
Oh, that shouldn't happen. I will fix this

[2018-08-25 20:28] #17 closed

[2018-08-26 03:42] Stephen-X commented on #20
Hi @JPeer264 thanks for following up! I think a simple way to deal with the JS problem would be to only find and replace word matches with a prefix of "." or "#" in all strings. Do you think that's sufficient enough?

[2018-08-26 06:47] JPeer264 commented on #20
Hm no that wouldn't be enough, as e.g. bootstrap is storing the selectors as plain strings sometimes: [bootstrap.js#L405-L409](https://github.com/twbs/bootstrap/blob/c0fd91788ee16ef013fe7201c069cfcfef7d0af9/dist/js/bootstrap.js#L405-L409), or jQuery has functions such as `addClass`, where selectors don't have any prefixes.

[2018-08-26 12:45] #19 closed

[2018-08-26 13:11] #21 closed

[2018-08-26 14:06] JPeer264 commented on #20
Ya, those are good approaches and already had the same or similar approaches. In total I am more a fan of automation and less configuration. Here are my thoughts:

1. This was the first idea I came up with in the beginning of the project. There is already a similar way in `rcs` to achieve such a behavior. The mapping file was the solution. As the mapping file is a JSON you can simply add following

[2018-08-26 14:32] JPeer264 commented on #21
Furthermore, in HTML just attributes of `class` and `id` are renamed. If you want to trigger more attributes you can add them with [these options](https://github.com/JPeer264/node-rcs-core/blob/master/docs/api/replace.md#html), as documented in [processHtml](https://github.com/JPeer264/node-rename-css-selectors/blob/master/docs/api/processHtml.md)

[2018-08-26 14:44] JPeer264 commented on #20
I totally agree that it is risky in production.

I guess this could work as you suggested in 1., replacing the code of `rcs.css()` with the selectors. In HTML however, just `class` and `id` [are triggered](https://github.com/JPeer264/node-rcs-core/blob/master/docs/api/replace.md#html), so adding those functions in JS are enough I guess.

However, your added documentation of the closure tools gave

[2018-08-26 14:47] JPeer264 commented on #20
Btw, the original issue with your HTML should be fixed in v`3.0.0`

[2018-08-26 14:58] Stephen-X commented on #20
It's possible that if devs develop their own elements for styling, those won't be renamed? But yeah, only triggered by `class` and `id` seems enough already, at least for me :)

Adding an indirection layer like the Google Closure Tools did does seem like a better solution! In this way the `css()` marker is no longer just a piece of invalid marker code, and the original source code can run with RCS

[2018-08-27 09:01] JPeer264 commented on #22
@grkblood13 I am currently implementing this feature. Would you expect the output to be pug or html?

[2018-08-27 18:06] grkblood13 commented on #22
The output should be pug. The rendering engine will then handle converting that to html for the requester.

[2018-08-28 07:26] JPeer264 commented on #22
You can now use `rcs.process.pug()`. If you have any issues, please let me know.

[2018-08-29 21:30] grkblood13 commented on #22
I can't seems to get the pug files to render. It keeps erroring out:

TypeError: Cannot read property 'val' of undefined
    at /home/test/project/node_modules/rename-css-selectors/node_modules/rcs-core/dest/replace/pug.js:82:37
    at Array.map (<anonymous>)
    at /home/test/project/node_modules/rename-css-selectors/node_modules/rcs-core/dest/replace/pug.js:80:43
    at walkAST (/home/test/proje

[2018-08-30 07:48] JPeer264 commented on #22
Can you maybe reduce your pug file to reproduce this and open a new issue?

There might be some `script` or `style` tag in your pug file, which causes this bug.

[2018-08-30 11:02] grkblood13 opened #30 "Pug processing fails when processing passed variables"
Rendering will fail for me when attempting to process a pug file that has inline javascript handling a passed variable using string interpolation. The following example should save the passed variable 'bar' to 'foo' but crashes instead.

doctype strict
html
 head
  script.
   var foo = "#{bar}"
 body

[2018-08-30 12:02] JPeer264 commented on #30
Thanks, I can reproduce this issue. I am not really familiar with pug anymore. Is this a problem if the output is following? (`!{bar}` instead of `#{bar}`)

[code]

[2018-08-30 14:55] grkblood13 commented on #30
That shouldn't be a problem.

[2018-08-31 00:04] klimashkin commented on #20
With css-modules I don't have have such problem, because in my case all class names are generated in that way `'[name]_[local]'`, like `Button_primary`.

If you want to add some `css('classname')`, make it optional please, because currently everything works fine for me : )

[2018-08-31 17:13] JPeer264 commented on #20
@klimashkin good point. Then it is also not a breaking change 👍

[2018-08-31 19:55] grkblood13 commented on #30
Do you have an idea of when this might get fixed? I was going to hold off on opening a site if it was going to be a quick fix but if you think it might take a while I'll just go ahead and move forward and come back to this at a later time.

[2018-09-01 07:13] JPeer264 commented on #30
@grkblood13 sorry I was travelling and had little time for fixing the bug. I'll update the lib it in the next hour.

[2018-09-10 06:52] JPeer264 commented on #20
Hey @Stephen-X .. I won't have much time the next few weeks. The implementation of this feature will take some time, I hope you'll understand.

[2018-09-10 07:55] JPeer264 commented on #18
@Stephen-X btw. I am just looking over some issues. Have you tried to add `rcs.includeConfig()` in your code?

[2018-09-15 05:38] Stephen-X commented on #20
@JPeer264 No worries, take your time. I mostly use this utilities for personal projects 😄 Thanks for the great works so far!

[2018-09-28 16:30] grkblood13 commented on #18
Any idea when this might get fixed?

[2018-09-28 16:32] JPeer264 commented on #18
Is this still an issue with `.includeConfig()`?

[2018-10-02 16:57] pacifier007 opened #31 "Changing the nameGenerator"
Please provide an option to replace the whole nameGenerator class. As in Node, the prototype won't help otherwise I would just use prototype to replace methods.

Why:

- To decrease class name conflicts or for personal preference.
- I don't want any class named "ad" as it's blocked by ad blockers.
- I am used to this feature as it exists in css-modules :)

At the moment, I am using a mixed system

[2018-10-02 17:10] JPeer264 commented on #31
Hi, thanks for your issue. This is actually a greay idea and not hard to implement (as far I could think of).

You have any idea what kind of function you want to pass as alternative nameGenerator? Maybe we can pass another `generate` function?

[2018-10-02 21:02] pacifier007 commented on #31
Yes, a way to pass in our own generator function would be awesome. [This is an article](https://medium.freecodecamp.org/reducing-css-bundle-size-70-by-cutting-the-class-names-and-using-scope-isolation-625440de600b) with excellent example of a custom name generation method used in conjunction with generateScopedName feature of babel's css-modules plugin.

IMHO, we don't really need something that e

[2018-10-02 21:28] fzp01717 opened #32 "webpack support"
Hi,

can i use this with laravel-mix webpack? if yes then can you give me a sample  config ?

Thanks

[2018-10-03 08:53] fzp01717 commented on #32
hello @JPeer264 thanks for your quick response :) . I will wait for @klimashkin comment then.

Thank you

[2018-10-08 05:18] JPeer264 commented on #31
Hey @pacifier007. I introduced `useCustomGenerator` in this PR https://github.com/JPeer264/node-rcs-core/pull/64. I am still not quite done yet because I need your help. In `useCustomGenerator` you have to pass in a function where a object is passed as parameter. In this object `type` is a key which the possible values: `keyframe`, `selector` or `attributeSelector`.

The only thing is that I have

[2018-10-08 20:04] grkblood13 commented on #18
It works with includeConfig, but the documentation isnt really clear on how to use it. It's be helpful if there was an example in the main README.md to make it obvious since exclusion is really important with this tool

[2018-10-09 04:48] JPeer264 commented on #18
@grkblood13 I updated the README. If it is still not clear how to use it, please comment here again.

Closed in favor of https://github.com/JPeer264/node-rename-css-selectors/commit/abaf6d4aba3e7b4f0dfb06269175d753dbbec7d9

[2018-10-09 04:48] #18 closed

[2018-10-15 02:36] braco opened #34 "[Request] Gatsby support"
This would be great with Gatsby, and would be easy if you support Webpack, as another issue asked about.

Great job!

[2018-10-15 18:19] JPeer264 commented on #34
Hey @braco thanks for your feature request. Unfortunately I do not have enough time the next weeks to implement that, but it sounds like a great feature.

But which exactly is the benefit to have a Gatsby plugin? (I am not familiar with this library)

[2018-10-15 18:41] braco commented on #34
@JPeer264: it's a popular static output framework with a large community. Webpack support would be enough, consider this one more reason for that feature :)

[2018-11-12 09:40] JPeer264 commented on #31
ping @pacifier007

[2018-12-06 02:55] denis-gorin commented on #32
@fzp01717,
I integrate this module thru **on-build-webpack2** plugin

[2018-12-06 07:20] JPeer264 commented on #32
@denis-gorin thanks for this plugin. Can you tell me how this works? I can add it to the README with a small description on how to use this lib with webpack.

[2018-12-14 01:00] mfarhadpur opened #35 "Proper handling of selectors containing escaped characters"
Thanks for your work on this. I noticed it currently does not handle selectors that contain escaped characters such as `:` used by [TailwindCSS](https://github.com/tailwindcss/tailwindcss), e.g. `.focus\:bg-white`.

[2018-12-14 06:18] JPeer264 commented on #35
Hey @mfarhadpur, I never saw this style of CSS. You think it is ok if `.focus\:bg-white` gets renamed to e.g. `.a`? Or must it be `.a\:bg-white`?

[2018-12-14 06:32] mfarhadpur commented on #35
Thanks for the reply. Yes, that should be fine. Just the [backslash](https://www.w3.org/International/questions/qa-escapes#css_identifiers) is only used in the CSS, e.g. the above class is used as `focus:bg-white` in HTML and JS.

[2018-12-14 06:35] JPeer264 commented on #35
Alright. I'll implement it the next days.

[2018-12-14 06:36] mfarhadpur commented on #35
Thanks!

[2018-12-16 19:30] JPeer264 commented on #35
@mfarhadpur please checkout `rename-css-selectors@3.1.2`. If your issue is not yet resolved, feel free to reopen this issue.

[2018-12-17 10:40] mfarhadpur commented on #35
@JPeer264 Thanks for working on this. I think you should re-open the issue, as there are still bugs.

So, basically such a selector is defined as:

[code]

And used as:

[code]

Note that unescaped  `:`  denotes a pseudo-class in CSS and should not be removed. Right now, the class remains untouched in HTML/JS .i.e. `focus:bg-white` instead of being renamed to say `b`, and in CSS it is changed to:

[2018-12-18 06:19] JPeer264 commented on #35
Uff. Sorry I totally missed that. I hope I can fix this soon.

[2018-12-18 06:42] mfarhadpur commented on #35
No worries, whenever you find the time. Just to reiterate, there's also the issue of renames not being applied in HTML/JS.

[2018-12-18 06:52] JPeer264 commented on #35
Seems like I did not write enough tests for it ;) Gonna be fixed the next iteration.

[2018-12-22 23:36] #35 closed

[2018-12-23 13:07] mfarhadpur commented on #35
@JPeer264 Thanks! Everything seems to be working fine. Would you mind also updating the PostCSS plugin to use the latest core, whenever you have the time?

[2018-12-23 16:04] JPeer264 commented on #35
Done. `postcss-rcs@2.0.0`

[2018-12-23 22:13] emilemil1 commented on #20
Would it be safe to assume that if a string (after concatenation) contains any word that isn't a CSS selector, then every word in that string should be excluded from renaming? I can't personally think of any situation where you pair selector names with other random text, except possibly in some error description.

That wouldn't solve every case, but it would solve the initial example and quite a f

[2018-12-25 10:35] JPeer264 commented on #20
I am not sure if I understood it correctly, but I assume you meant something like following: Let's say we have two string in JavaScript, one with CSS selectors and one with normal string:

[code]

And I have my CSS files:

[code]

In the variable `myString` there are `Any`, `string`, `of` and `my` included which are not defined in my CSS, so therefor this whole string can be excluded from renaming

[2018-12-25 13:39] emilemil1 commented on #20
Indeed, that's a destructive case I didn't consider. The aforementioned manual workarounds of adding a prefix/wrapper or similar would be needed to mark any JS-only selectors.

[2019-01-25 09:32] yesm1994 opened #36 "Some strings was changed incorrectly"
Thanks for your excellent plugin, it gives me a chance to apply to my project.
And i have some issues while using.
For example:
I have some files like this:
html: `<div class="error"></div>`
css: `.error {...}`
js: `console.error('error in ...')`
    ` const str = 'error at ...'`
    `$('.error').text(str)`

html and css were changed correctly.
but js file like this:
`console.error('ag in ...')`

[2019-01-25 09:40] yesm1994 commented on #36
Found same issue at: https://github.com/JPeer264/node-rename-css-selectors/issues/20

[2019-01-25 09:40] #36 closed

[2019-05-10 00:28] klimashkin opened #37 "Rename CSS Custom Properties (Variables)"
Hi!
We are dropping IE11 support in our company, so finally we start leveraging CSS Variables natively 🎉 But as classnames they might become pretty wordy, so it would be nice to have an option to mangle them too along with classnames and animation names!

[2019-05-10 07:54] JPeer264 commented on #37
Hey happy to hear that you are dropping IE11 :) My company is still using it for a while unfortunately. But yeah I agree, CSS Variables support sounds like a good idea. I will investigate in it ;)

[2019-05-10 12:13] #37 closed

[2019-05-10 12:15] JPeer264 commented on #37
@klimashkin works in v`3.2.0` 💪

[2019-05-10 18:10] klimashkin commented on #37
Awesome! Is it possible also to have a flag for that, similar to `replaceKeyframes`? Not always it's needed to be mangled : )

[2019-05-10 18:26] JPeer264 commented on #37
Ah whoops seems like that's the only option I forgot to put in the docs 😅 And it seems I have a kind of inconsistency in here, as my option is `ignoreCssVariables`, so by default it is set to `false`. I will rename `replaceKeyframes` in the next major release `ignoreKeyframes` and will also set it to `false` so I have some consitent options if that's ok for you ;)

[2019-05-10 19:03] klimashkin commented on #37
Yes, that works, thanks!

[2019-06-10 01:54] klimashkin opened #38 "CSS Custom Properties are not replaced in JS and html files"
He there! Seems like CSS Variables are mangled only in `.css` files, but if `.js` uses a variable then its original name is preserved, like here
[code]
Also, variables in html file seem to be untouched. I declare a lot of them inline in the `:root` of `index.html` in `<style>` tag.

My config is:
[code]

[2019-06-10 04:29] klimashkin opened #39 "Option ignoreCssVariables doesn't get passed through"
Just now I've got to use `ignoreCssVariables` (https://github.com/JPeer264/node-rename-css-selectors/issues/37#issuecomment-491386867) option (sorry about the delay : ),
but it is not working, seems like it should be declared here: https://github.com/JPeer264/node-rename-css-selectors/blob/2561770c67c98b315a23eb93e5443c119379a41e/lib/process/process.js#L72
I guess.

[2019-06-10 10:34] JPeer264 commented on #38
Oh! Didn't thought of that case actually. I just handled those things in the css files. I'm on it!

[2019-06-22 13:58] #39 closed

[2019-06-22 15:58] JPeer264 commented on #38
@klimashkin sorry for the delay. Should work in v`3.2.2`

[2019-06-22 15:58] #38 closed

[2019-06-22 15:59] JPeer264 commented on #39
Fixed in v`3.2.2`

[2019-06-24 20:57] X-Ryl669 commented on #20
For me, in JS you shouldn't deal with CSS's class or ID everywhere. Typically, it'll boils down to `querySelector`/`getElementByID`/`getElementsByTagName`/`addClass`/`removeClass`/`toggleClass`...

The list is somehow sparse. Unluckily, you need to compute the AST for the complete JS script to figure out if whatever string is being used for such methods. I wonder if you can compile the complete JS

[2019-07-01 19:57] JPeer264 commented on #20
The only bad thing is that there are a lot of modules which needs selectors, so everytime a new module is imported, which needs selectors, it must be included into some list of available "replaceable" functions.

Those combined selectors are really hard to detect, as I already mentioned in here: https://github.com/JPeer264/node-rcs-core/issues/85#issuecomment-507393879

1. This might be the best s

[2019-07-08 21:56] klimashkin opened #42 "CSS Custom Properties in var () with fallback value are not replaced"
Hi! Seems like if there is a fallback in `var()`, then property name doesn't get replaced, like here:
[code]

[2019-07-09 17:57] klimashkin commented on #42
Btw, I think `3.2.3` has not been published : )

[2019-07-23 16:11] JPeer264 commented on #42
Hey sorry, I was on holiday. Published now

[2019-07-23 16:12] JPeer264 commented on #42
Oh fallbacks. Ok I will work on those.

[2019-07-23 17:46] JPeer264 commented on #42
Resolved in v`3.2.4` published as well.

[2019-07-23 17:46] #42 closed

[2019-07-28 01:51] klimashkin opened #43 "3.2.4 breaks calc with css variables"
Hi! Even with `ignoreCssVariables: true` the new version changes this css
[code]
into
[code]
which breaks the whole css file (parens missing) : )

[2019-07-28 02:37] JPeer264 commented on #43
Oh! I'm gonna  check that asap !

[2019-08-01 15:54] JPeer264 commented on #43
Fixed in v`3.2.5`

[2019-08-01 15:54] #43 closed

[2019-08-03 07:48] JPeer264 commented on #34
@braco I created now a [webpack plugin for rcs](https://github.com/JPeer264/rcs-webpack-plugin). You think that would fix this issue? Or is an own Gatsby plugin necessary?

[2019-08-19 21:21] X-Ryl669 commented on #20
I guess with all the changes in rcs-core#95, this should be somehow fixed. At least, I had the same issues before and now it's working correctly on my project which is fairly large with many tricks (like Template, Id/Class mismatch, HTML using `<b>` and `<i>`, JS code making string from ID + iterator and so on.

Hopefully, you'll be able to test soon!

[2019-08-19 21:26] X-Ryl669 commented on #31
It's in rcs-core now!
Preventing `ad` is indeed possible with the upcoming `reserved` array in the config file. These won't be generated anymore (without tweaking with the name generator at all). Yet, you can write your own too, and you'll have the information about what needs to be generated as the second argument (so when given an attribute selector, just call the default generator).

[2019-08-21 20:49] X-Ryl669 commented on #11
I think you can close this one, it's done already (and the example here is wrong for a regex).

[2019-08-25 14:00] #11 closed

[2019-08-25 14:01] #31 closed

[2019-08-25 14:02] #10 closed

[2019-08-25 14:02] JPeer264 commented on #10
Please open again if you think this is still an issue

[2019-11-22 21:36] atishay opened #48 "Messes up with the `~` character"
When we have a css like this:
[code]
In the mapping, it generates:

[code]

[2019-11-24 08:42] JPeer264 commented on #48
Oh ya this is a bug indeed. I'm gonna fix this asap :)

[2019-11-24 09:16] JPeer264 commented on #48
Should be fixed in v`3.2.6` (ref: https://github.com/JPeer264/node-rcs-core/commit/09eb21b5a4d81c6a514655411bc551c61f6425ef)

[2019-11-26 06:36] JPeer264 commented on #48
I had to reopen this issue, as I had to unpublish this version as it is flaky (ref: https://github.com/JPeer264/node-rename-css-selectors/pull/44#issuecomment-558426080). I am very sorry about this, but I hope this is fixed asap :)

[2020-01-31 12:12] ajoykarmakar459 opened #56 "Uncaught TypeError: (0 , r.default)(...).at is not a function"
After compiling the source code with **node-rename-css-selectors**, Js files can't find the tooltip file because it's changing the class name. So there any words ignore features available? or there have any other possibilities to do this?
In the console -
<img width="681" alt="Screen Shot 2020-01-31 at 5 40 35 PM" src="https://user-images.githubusercontent.com/23628008/73538390-f6fbf000-4450-11ea-

[2020-02-06 08:19] JPeer264 commented on #56
Thanks for your issue. Is this your own tooltip or a third party tooltip?

[2020-02-06 14:09] ajoykarmakar459 commented on #56
It's a third party plugin that uses bootstrap 4.
The plugin name is popper.js

[2020-02-07 03:17] JPeer264 commented on #56
Alright thanks. I will check that plugin :)

[2020-02-12 01:17] JPeer264 commented on #56
Do you have a small repo to reproduce this issue?

To exclude your class you can import `rcs-core` and exclude it from there.

[code]

[2020-02-13 13:15] JPeer264 commented on #48
Fixed in v3.2.8

[2020-02-13 13:15] #48 closed

[2020-03-17 07:10] klimashkin opened #62 "Ignore specific class"
Hi!

I'm using css modules, and have cases when I use `:global()` selector to keep classname inside it untouched by the css modules naming algorithm.
It's useful when local modules want to style some third party libraries. In this example, tippy.js:
[code]
which will be converted by css modules let's say into this
[code]

So `.tippy-arrow` classname stays untouched. And element with that classname

[2020-03-17 09:49] JPeer264 commented on #62
Sure thing, you can ignore specific class names. I will add it to the README. That is how you do it with `rename-css-selectors@3.*`:

Install the dependency:
[code]

Exclude before you call `rcs.process.auto`:
[code]

Feel free to reopen if something is unclear

[2020-03-17 09:49] #62 closed

[2020-04-10 14:53] waterplea commented on #20
Just tried this tool and ran into similar issue. I have `error` class used in my html, in js I have a constant `error.password.invalid` as a code from backend. I get `error` in JS renamed :(

[2020-04-10 17:12] JPeer264 commented on #20
@waterplea which version do you use?

[2020-04-10 17:14] JPeer264 commented on #20
You could also exclude `error` globally for such things:

[code]

[2020-04-10 17:33] waterplea commented on #20
I used the latest. Thanks for the suggestion, in my case I ended up with no need to process js, so excluded it.

[2020-04-10 17:36] JPeer264 commented on #20
Alright. I the next version `4+` a lot of bugs will be fixed. Yours should be fixed as well. To be sure I will add a test case specific to your problem ;)

[2020-04-22 12:34] waterplea commented on #20
Hi @JPeer264, I've found another error. Now I have this case - I used this error key in data attribute and it got minified:
`<div data-error="error.password.invalid">`
And in CSS I have `[data-error="error.password.invalid"]:before` and it got minified to `[data-error="error.ts.to"]`. Your suggestion helped but it seems like even though I use 3+ and typings suggest selectorsLibrary with "S" - actu

[2020-04-22 17:39] JPeer264 commented on #20
Alright, thanks for the update, I will add this to my tests.

I think it is kinda confusing right now with the versions. Following should be true:

- `rename-css-selectors` version: 3.3.0
- `rcs-core` version: 2.6.3

I think you have installed `rcs-core@3.3.0`

I guess it will be better for the future to have a monorepo and namespace everything, that all versions match across the packages; but thi

[2020-06-20 04:30] anuragphadke opened #63 "renaming html tags such as div"
Is there a way to rename HTML tags such as "div" to "span"?
example below:
before:
[code]
after:
[code]

[2020-06-20 08:19] JPeer264 commented on #63
Hey thanks for your issue. Unfortunately there is no way of doing that right now. Generally this would not be a part of this library (with the exact case from renaming `div` to `span`).

As this change would break the semantics of HTML. And the goal of the library is not just renaming, but minifying and preserving the previous meanings of the code.

[2020-06-20 08:20] #63 closed

[2020-06-20 15:15] anuragphadke commented on #63
@JPeer264 : can u suggest alternatives? I can also push a PR out if you have thoughts on how we can modify the existing repo.

[2020-06-22 07:00] JPeer264 commented on #63
I don't think this would be a place for this library, as this is completely changing the HTML semantics. However, I think it would be an idea to rename custom HTML5 tags like `<myowntag></myowntag>` and minify those to non-semantic HTML tags (also avoid having renamed tags like `a`, `b`, `br`, ...).

With that you could implement a [custom generator](https://github.com/JPeer264/node-rcs-core/blob/

[2020-06-23 08:27] Chazza opened #64 "[BUG] It renames EJS"
Hey there,

I've been obfuscating using this, however it's also renaming stuff inside of ejs tags, any way round this?

[2020-06-23 08:53] Chazza commented on #20
I'm having

Having a similar issue, but with EJS tags `<%= some.thing %>` any way to exclude these with regex even?

[2020-06-28 06:35] JPeer264 commented on #64
Hey, sorry for the late response. I assume this is the same issue as mentioned in https://github.com/JPeer264/node-rename-css-selectors/issues/20#issuecomment-648006247. Actually I do not handle EJS tags at all. Do you want to ignore them all the time?

[2020-06-28 09:46] Chazza commented on #64
Similar, can you let us configure extra regex filters, in my case `<%= x %>`

[2020-06-29 07:59] JPeer264 commented on #64
If that whole string gets replaced, yes, you can regex that whole thing with [setExclude](https://github.com/JPeer264/node-rcs-core/blob/master/docs/api/baselibrary.md#setexclude):

I think following would do the trick:
[code]

[2020-06-29 08:25] Chazza commented on #64
So I would use this before my obfuscation code?

[2020-06-29 16:43] JPeer264 commented on #64
Exactly 👍

[2020-06-30 09:16] Chazza commented on #64
Awesome, this works perfectly! Would be cool to documentate this perhaps.

[2020-06-30 10:39] JPeer264 commented on #64
Good point. I will add a snippet to the documentation

[2020-06-30 10:40] JPeer264 opened #65 "Add documentation for rcsCore usage in rename-css-selectors"
ref: https://github.com/JPeer264/node-rename-css-selectors/issues/64#issuecomment-651670264

[2020-06-30 10:40] #64 closed

[2020-08-02 03:20] anuragphadke opened #67 "mismatched layout after running rcs"
When I run the rcs, the output file has a layout that's is mismatched on the header side.

code:

const rcs = require('rename-css-selectors')
const args = process.argv;
const file = "_14.5.pre.html"
// callback
rcs.process.auto([file], (err) => {
    console.log(err);
    rcs.generateMapping('./', { overwrite: true }, (err) => {
        // the mapping file is now saved
    });
});

input: https://

[2020-08-02 15:43] anuragphadke commented on #67
Looks like if i add the `id` to the list of exclusions, then the layout gets fixed.
Closing the ticket.

[2020-08-02 15:43] #67 closed

[2020-08-05 18:59] JPeer264 commented on #67
Good that this could be fixed with a workaround. Still, can I ask you which version you run of `rename-css-selectors`?

[2020-08-06 05:00] anuragphadke commented on #67
@JPeer264 : I am using the latest on npm..
`
"rename-css-selectors": "^3.3.0"
`

[2020-08-09 07:35] #65 closed

[2020-09-20 20:06] Chazza opened #68 "Integration with Gulp"
Hey JPeer,

I know this may be the wrong repo to post, but how could I integrate Rename Selectors with this gulp file? As you don't seem to have any tie with PurgeCSS.

Thank you!
[code]

[2020-09-21 05:34] JPeer264 commented on #68
Hey @Chazza, no worries about the wrong repo. As `rcs-core` is the main logic behind everything [there is a wrapper for some build tools](https://github.com/JPeer264/node-rcs-core#plugins). One of them is [gulp-rcs](https://www.npmjs.com/package/gulp-rcs).

If you got any errors in `gulp-rcs`, just open an issue there.

[2020-09-21 05:34] #68 closed

[2020-09-21 06:12] Chazza commented on #68
How would I integrate that into what I have? Not very experienced with Gulp, this was a premade Gulp I found

[2020-09-21 06:41] JPeer264 commented on #68
Alright, lets assume you gonna stick with that gulp config:

First you have to install rcs:

[code]

Then there is following config (please be aware of the [caveats](https://github.com/JPeer264/node-rename-css-selectors/blob/master/docs/caveats.md) when you want to use this library:

[code]

There are two `optional` steps, these are just to add if you want to replace the variables for your `gulp d

[2020-09-21 09:30] Chazza commented on #68
Honestly, thank you so much for helping! I will try this later once I'm home, I appreciate it a lot! Not used to gulp, was a base frame I used haha. Will report back later!

[2020-09-21 21:57] Chazza commented on #68
Hey @JPeer264 thank you lots! It did the css file, but sadly didn't replace the HTML classes?

[2020-09-22 05:49] JPeer264 commented on #68
Alright that was my bad. At least we know gulp is working correctly, as we didn't say anything what he should do with the `.html` files ;)

So let's add HTML to your script:

[code]

The function `html` and `htmlProd` could also be the same then you obviously do not need two separate functions for that and can just use one in your `default` and `build` gulp tasks. Sorry that I forgot about the HTM

[2020-09-22 08:40] Chazza commented on #68
Hey @JPeer264 I appreciate it lots, still having issues replacing the HTML, https://github.com/track/analyse-testing-example any chance you could take a look please. Also, do you have any donation pages - I'd love to donate some change at the end of the month for your help!

[2020-09-22 09:30] JPeer264 commented on #68
I made a PR in your repo. The reason why it didn't work was the [async completion](https://gulpjs.com/docs/en/getting-started/async-completion/). The pipes where not yet done (so the css part should always be first and completed) but the functions already got the callback, by returning the pipe it worked properly.

I did not set up the donation pages correctly (but I setup a [buymeacoffee](https:/

[2020-09-22 09:35] Chazza commented on #68
Wow amazing! Thank you so much, once I get paid at end of month I'll throw $10 your way! Thanks for creating this resource, absolutely fantastic :)

[2020-09-22 09:55] JPeer264 commented on #68
Thanks a lot :) Just drop by if you need any further assistance.

[2020-09-22 11:41] Chazza commented on #68
Hey sorry haha, now coming across issue where in development mode it freezes, so I can't test. Is there any reason why?

[2020-09-22 11:46] JPeer264 commented on #68
I think that is because there are a lot of css classes. If you add purgecss (in the `css` function like in `cssProd`) it will go down. But usually it shouldn't take that long. I will make some performance measurements.

[2020-09-22 11:48] Chazza commented on #68
Yeah just looking, as RCS is on the dev gulp tasks, it seems to hit a brick wall, so I've removed it from there (as honestly, only really needed for production). Thanks so much for all your time and help still, and performance increase is always great!

[2020-09-22 11:55] JPeer264 commented on #68
Welcome :)

[2020-09-22 12:39] Chazza commented on #68
Is there any chance you can add support for conditional classes? E.g. with AlpineJS this would be;
:class="{ 'pointer-events-auto opacity-100': open }"

This doesn't seem to get replaced when RCS runs..

[2020-09-22 12:45] JPeer264 commented on #68
Sure, I could take a look into that. Could you open an issue in `gulp-rcs` for that?

[2020-10-06 09:54] personaaleatoria opened #69 "Ids and classes are treated as the same identity"
First thanks for the great module.

I noticed that RCS appears to be overriding identities if they are named the same, so this issue is about RCS creating a collision between normatively different css entities like ids and classes.

Example:

**style-file-1.css:**
[code]

**style-file-2.css**
[code]
**index.html:**
[code]

**code:**
[code]

Results:

**renaming-map.json:**
[code]

**index.html**
[

[2020-10-06 09:58] personaaleatoria commented on #69
I'm using

❯ yarn list rcs-core
yarn list v1.22.5
warning Filtering by arguments is deprecated. Please use the pattern option instead.
├─ rcs-core@3.5.0
└─ rename-css-selectors@3.3.0
   └─ rcs-core@2.6.3
✨  Done in 0.15s.
❯ yarn list rename-css-selectors
yarn list v1.22.5
warning Filtering by arguments is deprecated. Please use the pattern option instead.
└─ rename-css-selectors@3.3.0
✨  Done in 0

[2020-10-06 10:09] JPeer264 commented on #69
Thanks for your issue. This seems to be a bug. To verify if that one is still occurring in the latest version, could you try the latest release v`4.0.0-rc.2` or `npm i rename-css-selectors@next`

[2020-10-06 10:16] personaaleatoria commented on #69
With `4.0.0-rc.2` it does correctly use a different renaming for the id and classes in the html and css files but it does not save the mapping for the id in `renaming-map.json`.

[2020-10-06 10:24] JPeer264 commented on #69
Alright good to know. It seems I forgot to rewrite the mapping part here. Could you be so kind and write the config for now by yourself?

[code]

[2020-10-06 10:32] personaaleatoria commented on #69
Yes no problem. Anyways having same names for both classes and ids is very rare. I can edit manually the mapping for now and load it in future renamings. Thanks a lot :)

[2020-10-06 11:37] JPeer264 commented on #69
Please be aware that the mappings between rename-css-selectors `v3` and `v4` will be different (in v`4.0.0-rc.3` and above

[2020-10-06 11:37] JPeer264 commented on #69
But the approach I sent will work in the future with stable v4

[2020-10-06 14:14] personaaleatoria commented on #69
I was wrong it is also saving the mapping for the id with your code above. I'm using

[code]

Had to use .parse and .stringify to avoid errors: [Object object] is not an object in mapping.load(), and data argument must be string in writeFileSync. But it saves everything in the mapping. Thanks again.

[2020-10-06 14:14] #69 closed

[2020-10-06 14:18] JPeer264 commented on #69
Oh ya sorry that was my mistake, I didn't thought about this one. I am always using the `fs-extra`s [writeJson](https://github.com/jprichardson/node-fs-extra/blob/master/docs/writeJson.md) and [readJson](https://github.com/jprichardson/node-fs-extra/blob/master/docs/readJson.md) function, I guess this was the reason I forgot that part :)

[2020-11-09 19:12] personaaleatoria opened #70 "Not completely renamed if there's a line break between class names"
First thanks for the great software,

I tried using a code prettify before node-rename-css-selectors and the prettify created a line break between the names of the classes of an element:

consider this valid prettified html according to https://html5.validator.nu/

[code]
see the line break after the "align-items-center" class? that is renamed by rcs to

`<div class="t rqo nyy nwg nxr align-items-

[2020-11-09 19:32] personaaleatoria commented on #70
this might be because the prettifier has some config about maximum chars per line. The user can probably avoid this by tweaking that.

[2020-11-10 13:15] JPeer264 commented on #70
Hey @personaaleatoria thanks for your issue. Could you may try the latest version and check if the issue still exists?

[code]

[2020-11-10 19:13] personaaleatoria commented on #70
Yes I am using version 4.0.0-rc.2

[2020-11-11 21:15] JPeer264 commented on #70
Thanks. This is a confirmed bug. I will work on this in this week

[2020-11-12 07:13] #70 closed

[2020-11-12 07:13] JPeer264 commented on #70
If you are using `rename-css-selectors@4.0.0-rc.2` then you can update `rcs-core` to v`3.5.1` and your bug should be resolved.

[2020-11-13 10:00] personaaleatoria commented on #70
ok thanks! 👍

[2021-01-07 10:54] JPeer264 commented on #69
@personaaleatoria FYI

You can now use the new mapping function directly from `rename-css-selectors` (this example with top-level await):

[code]

[2021-06-22 16:44] claudia-romano opened #77 "Exclude classes with special characters"
Hi, I'm trying to exclude a class with a special character (e.g `.aspect-ratio-1:1`) adding it to my package.json file.
In the CSS file, I use `.aspect-ratio-1\:1` to escape the special character, while in the package.json I do not need to escape it. Not sure if this is the reason, but it does not seem to be working. Should I use a different convention in the package.json file?

Thanks.

[2021-06-22 18:03] JPeer264 commented on #77
Hey @claudia-romano, thanks for your issue. If you want to exclude selectors you should not add `.` or `#`. So the correct selector to exclude your css class would be `aspect-ratio-1:1`.

Which version do you use? So I can give a more detailed answer on how to use it.

[2021-06-23 06:39] claudia-romano commented on #77
Hi, thanks for getting back.

Yes I'm using `aspect-ratio1:1`:
https://www.dropbox.com/s/8s6pmkbopm0wgup/Screenshot%202021-06-23%20at%2008.37.42.png?dl=0

I'm using version 3.2. Thanks

[2021-06-24 11:51] JPeer264 commented on #77
Alright. It seems that there is a bug on `rcs-core` where it does remove the escaping. I will fix that asap and notify you as soon as it will be fixed.

[2021-06-25 04:27] claudia-romano commented on #77
Thanks!

[2021-06-25 18:49] JPeer264 commented on #77
Sorry for getting back so late. But this should be fixed in v`4.0.0`. And `rcs-core@3.6.4`. The only thing which should have been changed is following:

`rcs.includeConfig()` -> `rcs.config.load()`
`rcs.loadMapping()` -> `rcs.mapping.load()`
`rcs.generateMapping()` -> `rcs.mapping.generate()`

All the rest should have remained the same.

[2021-06-25 18:49] #77 closed

[2021-06-28 14:42] claudia-romano commented on #77
It's working now. Thanks for your help!

[2021-09-08 15:24] heychazza opened #78 "[Q] Webpack Usage?"
Hey buddy,

Is there any chance you can provide a usage example with Webpack?

[2021-09-08 15:36] JPeer264 commented on #78
Hey. Actually there are couple of plugins documented in the core library: https://github.com/JPeer264/node-rcs-core#plugins

Might be useful to also add them in this repo. If you haven't seen it already, there is a webpack plugin for rcs: https://www.npmjs.com/package/rcs-webpack-plugin

[2021-09-08 15:41] heychazza commented on #78
The `usage` for https://www.npmjs.com/package/rcs-webpack-plugin, where does this go? The docs don't specify aha

[2021-09-08 15:44] heychazza commented on #78
In addition,

[code]

Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
Error: Didn't get a result from child compiler

[2021-09-08 16:31] JPeer264 commented on #78
This actually seems like a `mini-css-extract-plugin` issue. I've never used Laravel Mix (if that is that one), but maybe you have some `scss` files in it where you also need a [`sass-loader`](https://github.com/webpack-contrib/sass-loader) and use `test: /\.s?css$/,` as file tester?

[2021-09-08 16:32] heychazza commented on #78
Theres no sass sadly, just tailwind .js file

[2021-09-08 16:39] JPeer264 commented on #78
May I ask how you import the `.css` file?

[2021-11-22 16:29] universemaster opened #80 "Does this plugin optimize the library so most frequent classes get one letter not two?"
Step 2 from the instructions for  [rcs-core](https://github.com/JPeer264/node-rcs-core) are to run `rcs.optimize()`.

Please excuse my ignorance, but does this plugin `node-rename-css-selectors` actually optimize the library so that the most used classes get one letter, not two?

[2021-11-23 18:25] JPeer264 commented on #80
Hey @universemaster

Actually you are right, I totally forgot to add the optimization in this library. Thanks for pointing this out

[2021-11-23 18:57] #80 closed

[2021-11-23 18:59] JPeer264 commented on #80
Available in v`4.1.0`. It is enabled by default and can be disabled by passing the option: `optimize: false`

[2022-01-01 01:22] viktordre2 opened #82 "Minify as a function"
Hello, I'm sorry for maybe stupid question, but is there an official way I could minify some html page with inline (using tags) styles and scripts.
The problem is I have variable with some html content, and need to get result as a variable. I'm not able to create files)

[2022-01-10 17:09] JPeer264 commented on #82
Hey. If I understand you correctly you have the HTML code already as a variable? If so you could use `rcs-core` directly (as `rename-css-selectors` is just a wrapper around `rcs-core`) and check the [usage section](https://github.com/JPeer264/node-rcs-core#usage)

[code]

Is this what you want to achieve?

[2022-03-16 17:34] pacifier007 opened #84 "Bug: Textarea and other common words replaced"
Version info:
[code]

Example CSS:

[code]

Result:

[code]

Simple normal JS:
[code]

My CSS file was very large with many replacements gone awry, but I created a simpler case to present the bug.

Is the parser/regex broken somewhere. That's really odd that it's doing a simple replace such as this. Not sure what's going on. This used to work fine in 3.x.

[2022-03-16 17:57] JPeer264 commented on #84
Hey thanks for your issue.

Oofs, that is definitely a bug. I will look into it rn.

[2022-03-16 18:59] JPeer264 commented on #84
should be fixed in `rcs-core@3.7.1`

[2022-03-16 18:59] #84 closed, assigned to nobody

[2022-03-16 19:06] JPeer264 commented on #82
Please reopen if this is still an issue.

[2022-03-16 19:06] #82 closed, assigned to nobody

[2022-03-16 23:01] pacifier007 commented on #84
Perfect. That was an amazingly quick fix. Many thanks.

[2022-05-20 10:24] universemaster opened #86 "Unused css selectors given a one letter selector - is sorting by frequency working correctly?"
When I run as below and view `renaming-map-min` I get a lot of one letter selectors assigned to unused css selectors.

Similarly, the ordering does not reflect the frequency - I have very common selectors given two letters, and rare (or unused) selectors given one letter.

[code]

[2022-08-25 09:06] JPeer264 commented on #86
Sorry for the late response. Could you share a minimal example of your files?

[2022-09-06 15:06] universemaster commented on #86
I'm not doing anything special.  I'm pretty sure that the below doesn't really add any new information to what I've already reported, but here's a very clear example.

Create a folder with a subfolder called 'outdir'.

Create a javascript file called `auto-rename-css-classes.mjs`

[code]

Create a file called `incorrectly-minified-class-names-demo.html`

[code]

In the folder run `node auto-rename

[2022-09-06 15:31] universemaster commented on #86
To be clear for any other observers here:
- the optimisation functionality I am expecting relates to the "completed" issue #80 .

I am indeed using the version `rename-css-selectors": "^4.1.0`

[2022-09-06 18:46] universemaster commented on #86
Side note: the class "e" is never used. This is first letter of alphabet at https://github.com/JPeer264/node-rcs-core/blob/7d6fb24e3182484887626eb358e1ab87a99d5afd/lib/nameGenerator.ts#L17

I guess an off-by-one bug?

[2022-11-09 17:28] istng opened #88 "getElementById string being replaced by class selector name instead of id"
Hi! I found the following issue that I tried to track down into this example:
[code]

I run `rcs` with the following script:
[code]

The result:

[code]

The mappings generated by `optimize`:
[code]

There are two things happening here:

1. `fillLibrary` does not make a mapping for `overlay-symbol` id, I think this is because there is no actual rule on the `style` section.
2. `replace` is replacin